@charset "utf-8";
*{box-sizing: border-box;margin: 0;padding: 0;}
a{color: inherit;text-decoration: none;}
h1{
    margin-bottom: 50px;
    padding: 20px;
    font-size: 60px;
    text-align: center;
}
h1 a{
    color: darkred;
}
h1.night a{
    filter: invert(100%);
}
ul{
    padding-left: 50px;
    font-size: 30px;
}
ul a{
    color: #000;
}
div.content{
    margin: 0 50px;
}
div#content>h2{
    margin-bottom: 20px;
    color: red;
}
hr{
    height: 1px;
    margin: 50px 20px;
    border: none;
    background-color:#000;
}
button{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 16px 20px;
    font-size: 32px;
    opacity: 0.3;
    transition: 0.5s;
}
/* button:nth-child(2){
    transform: translate(10%, -50%);
} */
